/* General */
body{
    background: white;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}
section{
    width: 100%;
    position: relative;
    margin: 20px auto;
    display: block;
    z-index: 0;
    background: #EFEFEF;
}

a,
a:visited {
    color: #07889B;
}

/* Make a link look like a button. */
.button {
    display: block;
    clear: both;
    font-size: 1.6em;
    text-align: center;
}

    .button a {
        padding: .5em;
        margin: auto;
        background: #07889B;
        border-radius: .2em;
        box-shadow: .1em .2em 1em #373737;
    }

    .button a,
    .button a:visited {
        text-decoration: none;
        color: white
    }

    .button a:hover,
    .button a:focus {
        text-shadow: .1em .2em .5em #373737;
        transition: all 300ms linear;
    }

/* Aligning */
.substance{
    display: -ms-flex;
    display: -webkit-flex;
    display: flex;
    padding: 1vh 2vw;
    margin: 0 10vw;
    width: 70%;
}
.flex{
    display: -ms-flex;
    display: -webkit-flex;
    display: flex;
    width: 100%;
}
.image_pc{
    flex: 0.6;
    width: 30%;
    margin: auto;
}
.image_mobile{
    display: none;
}
.image_static{
    text-align: center;
}
.contribute_mobile{
    display: none;
}
.text_left{
    flex: 2;
}
.text_right{
    flex: 1;
    width: 60%;
}
.column1{
    float: left;
    width: 70%;
}
.column2{
    float: left;
    width: 30%;
}
.clear{
    clear: both;
}

/* Footer */
#site-footer{
    padding: 10px 20px;
    background: #A9A9A9;
    color: white;
}
#site-footer>div>ul{
    list-style: none;
}

/* Headings and Paragraphs */
h2{
    padding: 10px;
    margin: 0;
    color: #07889B;
}
h4 {
    padding-left: 20px;
    color: #07889B;
}
p {
    padding: 0 20px;
    color: #373737;
}
.title{
    background: white;
    padding-top: 1vh;
    padding-left: 10.5vw;
}
.question{
    padding: 0 10px;
    color: #07889B;
    font-size: 1.5em;
}
.citation{
    font-family: monospace;
}
.clear-link,
.clear-link:visited{
    color: #FF3336;
    text-decoration: none;
}
.clear-link:hover{
    text-decoration: underline;
}
.footer-text{
    color: white;
    text-decoration: none;
}
.special-link,
.special-link:visited{
    color: #FF3336;
    text-decoration: none;
}

/* Section Specific */
#about{
    margin-top: 40px;
}
#getcode > .substance > .image_pc > img {
    max-width: 150px;
}
#faqs > .substance{
    display: block;
    padding: 1vh 2vw;
    margin: 0 8vw;
}
#examples > .substance{
    width: 80%;
}
#examples > .substance > .image_pc > img {
    max-width: 240px;
}
#contribute > .substance > .image_pc{
    margin: 10px;
}
#publications{
    margin: 40px auto;
}
#publications > .substance{
    display: block;
}

/* Nav Menu */
nav{
    position: fixed;
    top: 0;
    left: 0;
    background: black;
    height: 40px;
    width: 100%;
    z-index: 1;
}
nav > ul{
    margin: 0;
    padding: 0;
    list-style: none;
    position: relative;
    display: table;
    margin: 0 auto;
}
nav > ul > li {
    display: table-cell;
}
nav > ul > li > a{
    padding: 10px 20px;
    display: block;
    color: white;
    font-weight: bold;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
}
nav > ul > li > a:visited {
    color: white;
}
nav > ul > li > a:hover {
    color: #FF3336;
}
nav > ul > li.active > a{
    color: #FF3336;
    border-bottom:3px solid #FF3336;
}
#logo{
    float: left;
    height: 35px;
    padding-top: 2.5px;
    padding-left: 2vw;
}

/* Mobile */
.slicknav_menu{
    display: none;
}
@media screen and (max-width: 750px) {
    /* Menu */
    nav{
        display: none;
    }
    #logo{
        display: none;
    }
    .slicknav_brand{
        padding: 0;
    }
    .slicknav_menu {
        display: block;
        position: fixed;
        width: 100%;
        top: 0;
        z-index: 1;
        background: black;
        text-align: right;
    }
    .slicknav_btn {
        background: #FF3336;
    }
    .slicknav_nav a {
        color: white;
    }
    .slicknav_menu .slicknav_menutxt {
        color: white;
    }

    /* Aligning */
    section{
        padding-top: 40px;
        margin-top: -40px;
    }
    .substance{
        width: 90%;
        text-align: center;
        margin: 0;
    }
    #about{
        margin-top: 0;
    }
    #publications{
        margin-top: 0;
    }
    #faqs > .substance{
        margin: 0;
    }
    #examples > .substance{
        width: 90%;
    }
    .column1{
        float: none;
        width: 100%;
    }
    .column2{
        float: none;
        width: 100%;
    }
    .column2 > ul {
        padding-left: 20px;
    }
    .contribute_mobile{
        display: block;
    }

    /* Headings and Paragraphs */
    h4{
        padding: 0;
    }
    .title{
        padding-left: 0;
        text-align: center;
    }

    /*Images*/
    .image_pc {
        display: none;
    }
    .image_mobile{
        display: block;
        text-align: center;
        padding-top: 10px;
    }
    #getcode > .substance > div > .image_mobile > img {
        height: 150px;
    }
    #examples > .substance > div > .image_mobile > img {
        height: 150px;
    }
}
