.container.clearfix {
    margin-bottom: 1em;
}

#content.container {
    margin-top: 56px;
}

nav {
    height: unset;
}

h1.metstitle {
    text-align: center;
    margin-bottom: 0;
}

[role="button"].focus {
    border-color: pink;
}

.result {
    clear: both;
}

.result .amount {
    display: block;
    font-size: 2em;
    font-weight: bold;
}

@media screen and (max-width: 399px) {
    .collapsible {
        display: none;
    }
}
