body.calc {
    background-color: #efefef;
}

.container.clearfix {
    margin-bottom: 1em;
}

#content.container {
    margin-top: 56px;
}

nav {
    z-index: 2;
}

nav li.active a {
    padding-bottom: 4px;
}

h1.metstitle {
    text-align: center;
    margin-bottom: 0;
}

[role="button"].focus {
    border-color: pink;
}

.result {
    clear: both;
}

.Measurement .input-group-append {
    min-width: 11em;
}

.result .amount {
    display: block;
    font-size: 2em;
    font-weight: bold;
}

@media screen and (max-width: 399px) {
    .collapsible {
        display: none;
    }
}
