/* General */
body{
    background: white;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}
section{
    min-height: 70vh;
    width: 95%;
    position: relative;
    margin: 20px auto;
    display: block;
    z-index: 0;
    background: #FFF5E6;
    /* background: #FFEBCC; */
}

/* Section Specific */
#about{
    margin-top: 40px;
}
#getcode{
}
#faqs{
}
#examples{
}
#contribute{
    margin-bottom: 0;
}
#publications{
    margin: 40px auto 0;
}
.column1{
    float: left;
    width: 70%;
}
.column2{
    float: left;
    width: 30%;
}
.clear{
    clear: both;
}

/* Footer */
#site-footer{
    padding: 10px 20px;
    background: #666666;
    color: white;
}
#site-footer>div>ul{
    list-style: none;
}

/* Headings and Paragraphs */
h2{
    padding: 10px;
    margin: 0;
    color: #FF3333;
}
h4 {
    padding-left: 20px;
    color: #FF3333;
}
p {
    padding: 0 20px;
    color: #373737;
}
.title{
    background: white;
    padding-top: 1vh;
    padding-left: 2vw;
}
.substance{
    padding: 1vh 2vw;
}
.question{
    padding: 0 10px;
    color: #CC0000;
}
.citation{
    font-family: monospace;
}
.white-text{
    color: white;
    text-decoration: none;
}
.special-link{
    color: #FF6666;
    text-decoration: none;
}

/* Nav Menu */
nav{
    position: fixed;
    top: 0;
    left: 0;
    background: #FF3333;
    height: 40px;
    width: 100%;
    z-index: 1;
}
nav > ul{
    margin: 0;
    padding: 0;
    list-style: none;
    position: relative;
    display: table;
    margin: 0 auto;
}
nav > ul > li {
    display: table-cell;
}
nav > ul > li > a{
    padding: 10px 20px;
    display: block;
    color: white;
    font-weight: bold;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
}
nav > ul > li > a:hover {
    color: #373737;
}
nav > ul > li.active > a{
    color: #373737;
    border-bottom:3px solid #373737;
}
.slicknav_menu{
    display: none;
}
@media screen and (max-width: 750px) {
    nav{
        display: none;
    }
    .slicknav_menu {
        display: block;
        position: fixed;
        width: 100%;
        top: 0;
        z-index: 1;
    }
    .slicknav_btn {
        background: ;
    }
    .slicknav_nav a {
        color: white;
    }
    .slicknav_menu .slicknav_menutxt {
        color: white;
    }
}
